# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\07_code\go\go-server-admin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
